body {
    font-family: 'Inter', sans-serif;
}

.banner {
    background-image: url(donation3-3.jpg);
    opacity: 0.75;
    height: 669px;
    background-position: center;
    text-align: center;
}

.banner h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
}

.banner p {
    color: white;
}

.link-button {
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

section {
    margin-bottom: 50px;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.center-text {
    text-align: center;
}

.bold-text {
    font-size: 50px;
    font-weight: bolder;
}

.amount-text {
    background-color: rgb(248, 242, 242);
    color: gray;
    font-size: 40px;
    font-weight: bold;
    padding: 45px;
    border-radius: 5px;
}

.special-amount-text {
    background-color: rgb(240, 192, 192);
    color: tomato;
    font-size: 40px;
    font-weight: bold;
    padding: 45px;
    border: 2px solid tomato;
    border-radius: 5px;
}

.plan-area {
    padding: 100px 50px;
    margin-right: 20px;
    border-radius: 5px;
}

.plan-area-food {
    background-color: rgb(205, 231, 236);
}

.plan-area-shelter {
    background-color: rgb(236, 229, 215);
}

.plan-area-education {
    background-color: bisque;
}

.update {
    background-color: bisque;
    padding: 100px 40px;
}

.email-text {
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 150px;
    border-radius: 5px;
}

.subscribe-text {
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.footer-style {
    background-color: black;
    font-family: 'Edu TAS Beginner', cursive;
}

footer h1 {
    color: tomato;
}

footer p {
    color: white;
}